.git/
.github/
.next/
node_modules/
.better-commits.json
.env
.env.example
.eslintrc.cjs
.gitattributes
.gitignore
.nvmrc
.prettierignore
cspell.config.cjs
docker-compose.yml
Dockerfile
next-env.d.ts
prettier.config.js
README.md
renovate.json
vercel.json